.friendListItem {
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;
}

.friendListItemImg {
    object-fit: cover;
}

.friendListItemName {
    font-size: large;
    font-weight: 600;
}

.friendListItemStatus {}

.isOnline {
    color: green;
}

.isOffline {
    color: red;
}